<div class="col-md-4">
    <div class="card {{ bg }} text-white mb-4">
        <div class="card-body text-center">
            <h5 class="card-title">{{ title }}</h5>
            <button class="btn btn-light btn-select-category"
                data-category="{{ db_category_name }}"
                hx-trigger="click"
                hx-get="{% url 'forum:filter_categories' %}?category={{ db_category_name|urlencode }}"
                hx-target="#post-list"
                hx-push-url="true">Zobraziť</button>
        </div>
    </div>
</div>