<div class="mt-4 my-5">
    <h1 class="text-center mb-4">{{ title }}</h1>
    <div class="list-group">
        {% if posts_profiles %}
            {% for post, profile in posts_profiles %}
                <li class="list-group-item list-group-item-action position-relative">
                    <div class="d-flex align-items-start h-100">
                        {% if post.icon %}
                        <div class="flex-shrink-0">
                            <img src="{{ post.icon.url }}"
                                 width="65"
                                 alt="post_icon"
                                 class="h-auto rounded">
                        </div>
                        {% endif %}
                        <div class="flex-grow-1 ms-3 overflow-hidden">
                            <a href="{{ post.get_absolute_url }}" class="fs-2 text-decoration-none">{{ post.title }}</a>
                            <p class="mb-1">Počet like-ov: {{ post.like_count }}</p>
                            <p>Pridané: {{ post.created_at }}</p>
                        </div>
                        <div class="text-end">
                            <img src="{{ profile.image.url }}"
                                 width="50"
                                 height="50"
                                 alt="last_created_by"
                                 class="rounded-circle">
                            <p class="mt-1 mb-0 small">{{ profile.user.username }}</p>
                        </div>
                    </div>
                </li>
            {% endfor %}
        {% else %}
            <p>Žiaden príspevok nespadá do vybratej kategórie</p>
        {% endif %}
    </div>
</div>