{% extends 'forum/base.html' %}
{% load static %}

{% block title %}Kategórie{% endblock %}
{% block categories_active %}active{% endblock %}

{% block content %}

<div class="container my-5">
    <h2 class="text-center mb-4">Kategórie</h2>

    <div class="row">
        {% include 'forum/partials/category_card.html' with title="Všetko" db_category_name="all" bg="bg-success" %}
        {% include 'forum/partials/category_card.html' with title="Programovanie" db_category_name="programming" bg="bg-primary" %}
        {% include 'forum/partials/category_card.html' with title="Technológie" db_category_name="technology" bg="bg-success" %}
    </div>
    <div class="row">
        {% include 'forum/partials/category_card.html' with title="Hry" db_category_name="games" bg="bg-warning" %}
        {% include 'forum/partials/category_card.html' with title="Umelá inteligencia" db_category_name="ai" bg="bg-danger"%}
        {% include 'forum/partials/category_card.html' with title="Gadgety" db_category_name="gadgets" bg="bg-info" %}
    </div>
    <div class="row">
        {% include 'forum/partials/category_card.html' with title="Filmy/Seriály" db_category_name="tv" bg="bg-secondary" %}
        {% include 'forum/partials/category_card.html' with title="Ostatné" db_category_name="other" bg="bg-primary" %}
    </div>

    <div class="d-flex justify-content-center mt-4">
        <div class="dropdown">
            <button class="btn btn-lg btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                Zoradiť podľa
            </button>
            <ul class="dropdown-menu">
                <li><button id="btn-likes" type="button" class="dropdown-item"
                        hx-trigger="click"
                        hx-get="{% url 'forum:filter_categories' %}"
                        hx-target="#post-list"
                        hx-push-url="true">Od najviac like-ov</button></li>
                <li><button id="btn-newest" type="button" class="dropdown-item"
                        hx-trigger="click"
                        hx-get="{% url 'forum:filter_categories' %}"
                        hx-target="#post-list"
                        hx-push-url="true">Od najnovšieho</button></li>
                <li><button id="btn-oldest" type="button" class="dropdown-item"
                        hx-trigger="click"
                        hx-get="{% url 'forum:filter_categories' %}"
                        hx-target="#post-list"
                        hx-push-url="true">Od najstaršieho</button></li>
            </ul>
        </div>
    </div>

    <div id="post-list">
        {% include 'forum/partials/filtered_posts_list.html' with title="Vyfiltrované posty"%}
    </div>
</div>
<script src="{% static 'forum/js/categories_js.js' %}"></script>
{% endblock %}
