{% extends 'forum/base.html' %}

{% block title %}Kategórie{% endblock %}
{% block categories_active %}active{% endblock %}

{% block content %}
<!-- Kategórie Section with Tiles -->
<div class="container my-5">
    <h2 class="text-center mb-4">Kategórie</h2>
    <div class="row">
        {% include 'forum/partials/category_card.html' with title="Programovanie" db_category_name="programming" bg="bg-primary" %}
        {% include 'forum/partials/category_card.html' with title="Technológie" db_category_name="technology" bg="bg-success" %}
        {% include 'forum/partials/category_card.html' with title="Hry" db_category_name="games" bg="bg-warning" %}
    </div>
    <div class="row">
        {% include 'forum/partials/category_card.html' with title="Umelá inteligencia" db_category_name="ai" bg="bg-danger"%}
        {% include 'forum/partials/category_card.html' with title="Gadgety" db_category_name="gadgets" bg="bg-info" %}
        {% include 'forum/partials/category_card.html' with title="Filmy" db_category_name="movies" bg="bg-secondary" %}
    </div>
    <div class="row">
        {% include 'forum/partials/category_card.html' with title="Ostatné" db_category_name="other" bg="bg-primary" %}
    </div>
    <div class="row">
        <div id="post-list">
            {% include 'forum/partials/filtered_posts_list.html' with title="Vyfiltrované posty"%}
        </div>
    </div>
</div>
{% endblock %}
