{% extends 'forum/base.html' %}

{% block title %}Fórum{% endblock %}
{% block home_active %}active{% endblock %}

{% block content %}
    <div class="container-fluid bg-primary text-white text-center py-5">
        {% if user.is_authenticated %}
            <h1>Vitaj späť {{ user.username }}!</h1>
        {% else %}
            <h1>Vitaj na fóre!</h1>
            <a href="{% url 'forum:register' %}" class="btn btn-light btn-lg">Pridaj sa!</a>
        {% endif %}
    </div>

    <!-- Horuce Temy Sekcia -->
    <div class="container my-5 fs-5">
        <h2 class="text-center mb-4">Horúce Témy</h2>
        <div class="list-group">
            {% for post, profile in most_liked_tuples %}
                <li class="list-group-item list-group-item-action position-relative">
                    {% if post.icon %}
                        <img src="{{ post.icon.url }}"
                             width="70"
                             height="70"
                             alt="post_icon"
                             class="position-absolute"
                             style="bottom: 10px; left: 10px;">
                        <div style="padding-left: 75px">
                            <a href="{{ post.get_absolute_url }}" class="text-decoration-none">{{ post.title }}</a>
                            <p class="">Počet like-ov: {{ post.like_count }}</p>
                        </div>
                    {% else %}
                        <a href="{{ post.get_absolute_url }}" class="text-decoration-none">{{ post.title }}</a>
                        <p class="">Počet like-ov: {{ post.like_count }}</p>
                    {% endif %}
                    <img src="{{ profile.image.url }}"
                         width="50"
                         height="50"
                         alt="last_created_by"
                         class="position-absolute"
                         style="bottom: 10px; right: 10px;">
                    <p class="position-absolute"
                         style="bottom: 0; right: 70px;">
                        {{ profile.user.username }}
                    </p>
                </li>
            {% endfor %}
        </div>
    </div>

    <!-- Naposledy pridane Sekcia -->
    <div class="container my-5 fs-5">
        <h2 class="text-center mb-4">Naposledy pridané príspevky</h2>
        <div class="list-group">
            {% for post, profile in most_recent_tuples %}
                <li class="list-group-item list-group-item-action position-relative">
                    {% if post.icon %}
                        <img src="{{ post.icon.url }}"
                             width="70"
                             height="70"
                             alt="post_icon"
                             class="position-absolute"
                             style="bottom: 10px; left: 10px;">
                        <div style="padding-left: 75px">
                            <a href="{{ post.get_absolute_url }}" class="text-decoration-none">{{ post.title }}</a>
                            <p class="">Počet like-ov: {{ post.like_count }}</p>
                        </div>
                    {% else %}
                        <a href="{{ post.get_absolute_url }}" class="text-decoration-none">{{ post.title }}</a>
                        <p class="">Počet like-ov: {{ post.like_count }}</p>
                    {% endif %}
                    <img src="{{ profile.image.url }}"
                         width="50"
                         height="50"
                         alt="last_created_by"
                         class="position-absolute"
                         style="bottom: 10px; right: 10px;">
                    <p class="position-absolute"
                         style="bottom: 0; right: 70px;">
                        {{ profile.user.username }}
                    </p>
                </li>
            {% endfor %}
        </div>
    </div>
{% endblock %}
