{% extends 'forum/base.html' %}
{% load static %}

{% block additional_stylesheets %}
    <link rel="stylesheet" href="https://unpkg.com/bs-brain@2.0.4/components/logins/login-3/assets/css/login-3.css">
{% endblock %}
{% block title %}Prihlásenie{% endblock %}
{% block login_active %}active{% endblock %}

{% block content %}
<section class="p-3 p-md-4 p-xl-5">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6 bsb-tpl-bg-platinum">
                <div class="d-flex flex-column justify-content-between h-100 p-3 p-md-4 p-xl-5">
                    <h3 class="m-0">Vitaj!</h3>
                    <img class="img-fluid rounded mx-auto my-4" loading="lazy" src="{% static 'forum/img/forumlogo.png' %}" width="245" height="80" alt="loginLogo">
                    <p class="mb-0">Ešte nie si členom? <a href="{% url 'forum:register' %}" class="link-secondary text-decoration-none">Zaregistruj sa</a></p>
                </div>
            </div>
            <div class="col-12 col-md-6 bsb-tpl-bg-lotion">
                <div class="p-3 p-md-4 p-xl-5">
                    <div class="row">
                        <div class="col-12">
                            <div class="mb-5">
                                <h3>Prihlásenie</h3>
                            </div>
                        </div>
                    </div>
                    {% if form.errors %}
                        <p style="color: red;">Nesprávne používateľské meno alebo heslo</p>
                    {% endif %}
                    <form method="post">
                        {% csrf_token %}
                        <div class="row gy-3 gy-md-4 overflow-hidden">
                            {% for field in form %}
                                <div class="col-12">
                                    <label for="{{ field.id_for_label }}">{{field.label}}</label>
                                    <input type="{{ field.field.widget.input_type }}" class="form-control" id="{{ field.id_for_label }}" name="{{ field.name }}" placeholder="{{ field.field.widget.attrs.placeholder }}" {% if field.field.required %}required{% endif %}/>
                                </div>
                            {% endfor %}
                            <div class="col-12">
                                <div class="d-grid">
                                    <button class="btn bsb-btn-xl btn-primary" type="submit">Prihlásiť sa</button>
                                </div>
                            </div>
                        </div>
                    </form>
                    <div class="row">
                        <div class="col-12">
                            <hr class="mt-5 mb-4 border-secondary-subtle">
                            <div class="text-end">
                                <a href="#" class="link-secondary text-decoration-none">Zabudnuté heslo</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
